.transactions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 250px;
}

.containerButtons {
  display: flex;
  margin-bottom: 30px;
}